<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="navbarstyle.css" />
  <meta charset="utf-8"/>
</head>
<body>
<ul id="navigation">
  <li><a href="#"> Profile </a></li>
  <li><a href="#"> best gamin site not virus</a></li>
  <li class=dropdownmenu>
    <a href="javascript:void(0)" class="ddButton">Games</a>
    <div class="ddContent">
      <!-- Get links from ? with jquery -->
      <a href="#">Game 1</a>
      <a href="#">Game 2</a>
      <a href="#">Game 3</a>
      <a href="#">Game 4</a>
    </div>
  </li>
</ul>

</body>
