 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
  width: 100%;
}
 li {
  float: left;
  width: 33%;
}
 li a, ddButton {
  display: block;
  padding: 14px 16 px;
  color: yellow;
  text-align: center;
  background-color: #555;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

 li a:hover, .dropdownmenu:hover, .ddButton:hover{
  background-color: green;
}

 li.dropdownmenu {
    display: inline-block;
}

 .ddContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

 .ddContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

 .ddContent a:hover {background-color: green}

 .dropdownmenu:hover .ddContent {
    display: block;
}
