<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="#" method="post">
      <label for="username">Username: </label>
      <input id="username" type="text">
      <br>
      <label for="password">Password: </label>
      <input id="password" type="password">
      <br>
      <label for "password2">Repeat the password: </label>
      <input id="password2" type="password">
      <br>
      <label for="email">Email: </label>
      <input id="email" type="text">
      <br>
      <label for="accounttype">Select account type: </label>
      <select id="accounttype">
        <option value="developer">Developer</option>
        <option value="player">Player</option>
      </select>
      <br>
      <label for="terms">I accept terms and conditions: </label>
      <input id="terms" value="on" type="checkbox">
      <br>
      <input value="Register" type="submit">
    </form>
        
  </body>
</html>
