{% extends "marjamehu/base.html" %}

{% block content %}
    {% if form.errors %}
    <h3>There has been an accident</h3>
    {% endif %}
    {% if next %}
    <h3>Oy mate dont go there!</h3>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}

      <p>Username: {{ form.username }}</p>
      <p>Password: {{ form.password}}</p>
      <br>
      {{ form.password}}
      <input type="submit" value="Sign in">
      <input type="hidden" name="next" value="{{ next }}"
    </form>

{% endblock %}
